extends layout

block content
	div#content
		div.title-bar
				h2 Please Enter...

		form.makeLeague(action='/api/leagues/create' method='post')
			h3 A name for your League:
			input(v-model="name" type='text' placeholder="Lion's Pride Inn League" name='name' required)

			h3 A short blurb for your League:
			input(v-model="description" type='text' placeholder='Describe your League here!' name='description' required)

			h3 Customization:
			select(name="icon" v-model="icon" required)
				option(value="banner_Bloodelf.png") Bloodelf Banner
				option(value="banner_Draenei.png") Draenei Banner
				option(value="banner_Dwarf.png") Dwarf Banner
				option(value="banner_Gnome.png") Gnome Banner
				option(value="banner_Human.png") Human Banner
				option(value="banner_Nightelf.png") Night Elf Banner
				option(value="banner_Orc.png") Orc Banner
				option(value="banner_Scourge.png") Scourge Banner
				option(value="banner_Tauren.png") Tauren Banner
				option(value="banner_Troll.png") Troll Banner
				option(value="Symbol_Brewfest.png") Brewfest

			img.preview_logo( :src="'/images/league_icons/' + icon")

			input(type="color" v-model="color1" name="color1" required)

			h3 # of Rounds (picks) per player:
			input(v-model="rounds" type='number' placeholder='10' name='rounds' min="1" max="10" required)

			h4.disabled-note.
				<i class="fas fa-exclamation-circle"></i> 
				Not implemented just yet!

			div.disabled-input
				h3 Draft Style:
				select(v-model="style" name="style" required)
					option(value="Standard") Standard

				h3 Server & Side:
				select(v-model="server" name="server")
					option(value="Grobbulus") Grobbulus

				select(v-model="faction" name="faction")
					option(value="Alliance") Alliance
					option(value="Horde") Horde


			h3 Activity Report Day
			select(v-model="report_day" name="report_day")
				option(value="Sunday") Sunday
				option(value="Monday") Monday
				option(value="Tuesday") Tuesday
				option(value="Wednesday") Wednesday
				option(value="Thursday") Thursday
				option(value="Friday") Friday
				option(value="Saturday") Saturday

			h3 Proposed Draft Start Date/Time


			input(v-model="start_date" type="text" name="start_date" placeholder="Next Monday at 4pm!")

			div.reminder
				h4. 
					<i class="fas fa-exclamation-circle"></i> Remember!
					You, as the organizer, need to start the draft manually.
				h4 This is just for scheduling, so be informative (and on time!)


			h3
				button(type='submit').
					<i class="fas fa-check"></i> 
					All Done!

		h1 Preview:

		div(:style="'color:'+color1").league_wrapper
			img.league_logo( :src="'/images/league_icons/' + icon")
			h1.league_name {{name}}
			h4.flavor {{description}}

	script.
		var app = new Vue({
			el: '#content',
			data: {
				name:"Stormwind League",
				description: "Light be with you.",
				rounds: 10,
				server: "Grobbulus",
				faction: "Alliance",
				style:"Standard",
				color1: "#0070FF",
				icon: "banner_Human.png",
				report_day: "Tuesday",
				start_date: "next monday at 3pm",
				}
			})