extends layout

block content
	div#content
		div.title-bar
			h2 Please Enter...

		form.makeTeam(action=`/api/leagues/${leagueID}/newTeam` method='post')
			h3 A name for your team:
			input(type='text' placeholder='Lower City Sluggers' maxlength="25" name='name' v-model="name" required)

			h3 A motto for your team:
			input(type='text' placeholder='For the Alliance!' maxlength="15" name='motto' v-model="motto")

			h3 Customization:
			select(name="icon" v-model="icon" required)
				option(value="icon1") Challenging Roar
				option(value="icon2") Gauntlet
				option(value="icon3") Helmet
				option(value="icon4") Card
				option(value="icon5") Skull
				option(value="icon6") Hearthstone
				option(value="icon7") Pants
				option(value="icon8") Destro Pot		
				option(value="icon9") Seal of Protection	
				option(value="icon10") Shadow Soulgem
				option(value="icon11") Milk
				option(value="icon12") Goop
				option(value="icon13") Ale
				option(value="icon14") Coffee
				option(value="icon15") Gnomish Bomb
				option(value="icon16") Gold Coins
				option(value="icon17") Silver Coins
				option(value="icon18") Copper Coins
				option(value="icon19") Dice
				option(value="icon20" selected) Question Mark

			input(type="color" v-model="color2" name="color2" required)

			h3
				button(type='submit').
					<i class="fas fa-check"></i> 
					Let's Rock!



		h1 Preview:
		div.team
			img.team_logo(:src="'/images/icons/'+icon+'.png'")
			div.team_text
				h1(:style="'color:'+color2").team_name {{name}}
				h2(:style="'color:'+color2").team_motto {{motto}}

	script.
		var app = new Vue({
			el: '#content',
			data: {
				name:"Lower City Sluggers",
				motto:"Aldori Little League",
				color1: "black",
				color2: "#C41E3A",
				icon: "icon20",
				}
			})