extends layout

block content
	div#team_create
		form(action=`/api/leagues/${leagueID}/newTeam` method='post')
			h2 Please Enter...

			h3 A name & motto for your team:
			input(type='text' placeholder='Lower City Sluggers' maxlength="25" name='name' v-model="name" required)
			input(type='text' placeholder='For the Alliance!' maxlength="70" name='motto' v-model="motto")

			h3 Customization
			span color:

			select(name="color2" v-model="color2" required)
				option(style="color:#C41E3A" value="#C41E3A" selected) Demon Hunter Red
				option(style="color:#FF4700" value="#FF4700") Raid Warning Red
				option(style="color:#FF8000" value="#FF8000") Legendary Orange
				option(style="color:#FFF468" value="#FFF468") Rogue Yellow
				option(style="color:#3CE13F" value="#3CE13F") Guild Chat Green
				option(style="color:#40BC40" value="#40BC40") Officer Chat Green
				option(style="color:#77C8FF" value="#77C8FF") Party Lead Teal
				option(style="color:#0070FF" value="#0070FF") Rare Blue
				option(style="color:#00ADEF" value="#00ADEF") BattleNet Blue
				option(style="color:#A335EE" value="#A335EE") Epic Purple
				option(style="color:#FF7EFF" value="#FF7EFF") Whisper Pink
				option(style="color:#FFFFFF" value="#FFFFFF") /say White

			br
			span icon:
			select(name="icon" v-model="icon" required)
				option(value="icon1") Challenging Roar
				option(value="icon2") Gauntlet
				option(value="icon3") Helmet
				option(value="icon4") Card
				option(value="icon5") Skull
				option(value="icon6") Hearthstone
				option(value="icon7") Pants
				option(value="icon8") Destro Pot		
				option(value="icon9") Seal of Protection	
				option(value="icon10") Shadow Soulgem
				option(value="icon11") Milk
				option(value="icon12") Goop
				option(value="icon13") Ale
				option(value="icon14") Coffee
				option(value="icon15") Gnomish Bomb
				option(value="icon16") Gold Coins
				option(value="icon17") Silver Coins
				option(value="icon18") Copper Coins
				option(value="icon19") Dice
				option(value="icon20" selected) Question Mark


			h3
				button(type='submit') Submit


		h1 Preview:
		div.team
			img.team_logo(:src="'/images/icons/'+icon+'.png'")
			div.team_text
				h1(:style="'color:'+color2").team_name {{name}}
				h2(:style="'color:'+color2").team_motto {{motto}}

	script.
		var app = new Vue({
			el: '#team_create',
			data: {
				name:"Lower City Sluggers",
				motto:"Aldori Little League",
				color1: "black",
				color2: "#C41E3A",
				icon: "icon20",
				}
			})