extends layout

block content

	div#content
		div#about
			h1 Welcome to WowDraft Beta!
			h3 It's like Fantasy Football, but for World of Warcraft.
			br
			h3 Get started by logging in with Discord and making a league for you and your friends, or joining one that hasn't drafted yet!

			
		div.title-bar
			h2.
				<i class="fas fa-book-open"></i>
				All Leagues

		div#leagues
			ol
				league-item(
					v-for="(league, index) in leagues"
					v-bind:league_info="league"
					v-bind:index="index",
					v-bind:slugify="slugify"
				)

	script.

		var leagues = !{leagues}

		Vue.component('league-item', {
			props: ['league_info', 'slugify'],
			template: `
			<div class="mini_league">
			   <div class="league_wrapper_mini" :style="'color:'+league_info.color1">
			      <img class="league_logo" :src="'/images/league_icons/' + league_info.icon">
			      <h2 class="league_name"> {{league_info.name}} </h1>
			   </div>

			   <p> Organized by {{league_info.admin.name}}
			      <br> Status: <span :class="'league_status '+slugify(league_info.status)">Draft {{league_info.status}} </span>
			   </p>
			   <p> 
			   	  Report Day: {{league_info.report_day || "Monday"}} 
			      <br> Draft Will Start: "{{league_info.start_date || "didn't say!"}}"
			      <br>
			      <br> Number of Rounds (Picks): {{league_info.rounds}} 
			      <br>
			   </p>
			<h3> 
			   <a :href="'/leagues/' + league_info.code"><i class="fas fa-door-open"></i> View </a>
			</h3>
			</div>
			`
		})

		var app = new Vue({
			el: '#leagues',
			data: {
				leagues: leagues.reverse()
			},
			methods: {
				slugify(x) {
			  		return x.toLowerCase().replace(" ", '-');
			  	}
			}
		})