extends layout

block content
	h1 LOGIN
	script(src="/javascripts/identity.js")
	a(href="https://discord.com/api/oauth2/authorize?client_id=885584316665585674&redirect_uri=https%3A%2F%2Fwowdraft.herokuapp.com%2Fauth&response_type=code&scope=identify") login w/ discord