extends layout

block content
	script(src="/javascripts/identity.js")


	div#content
		div#about
			h3 WOWDRAFT uses Discord for authentication.
			br
			a(href="https://discord.com/api/oauth2/authorize?client_id=885584316665585674&redirect_uri=https%3A%2F%2Fwowdraft.herokuapp.com%2Fauth&response_type=code&scope=identify") Login with Discord.
			
			//- a(href="https://discord.com/api/oauth2/authorize?client_id=885584316665585674&redirect_uri=http%3A%2F%2Flocalhost%3A3000%2Fauth&response_type=code&scope=identify") Login with Discord.