:root {
  --druid: #A34C00;
  --hunter: #6F9B31;
  --mage: #1395B9;
  --paladin: #EA1F7A;
  --priest: #FFFFFF;
  --rogue: #8F8500;
  --shaman: #0070DD;
  --warlock: #4C4FE6;
  --warrior: #936739;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
	background-color: #001020;
	color: #e1f2f5;
	text-shadow: 1px 1px 1px #000;
	padding: 0;
	margin: 0 auto;
	font: 1em "Lucida Grande", Helvetica, Arial, sans-serif;
}

#content {
	padding: 15px;
	padding-top: 15px;
}

@font-face {
  font-family: Fritz;
  src: url(/fonts/fritz.otf);
}

a {
  color: #00B7FF;
}

h1, h2, h3, h4, span {
	margin: 0;
	font-family: 'Montserrat', monospace;
	font-weight: normal;
}


p {
	font-family: 'Montserrat', sans-serif;
	font-weight: normal;
}

a {
	font-family: 'Roboto', sans-serif;
	font-weight: normal;
}

header {
	padding: 20px;
	padding-left: 40px;
	padding-right: 40px;
	background: linear-gradient(180deg,#161616,#0a0a0a);
	box-shadow: 0 1px 1px rgba(0,0,0,.2);
	text-shadow: 1px 1px 1px #000;
	border-bottom: 2px solid #555555;
}

footer {
	width: auto;
	max-width: 100%;
	padding: 10px;
	margin-bottom: 10px;
	text-align: center;
	font-size: 0.8em;
	opacity: 0.8;
}

/*
	Top-Level Layout Syling
*/

#logged-in, #logged-out {
	float: right;
	color: white;
}

#username {
	margin: 0;
	padding-right: 10px;
}




/*
	Player Search Styling
*/


#player-filtering {
	border-bottom: 2px solid #555555;
}

#players {
	list-style-type: none;
	padding: 0;
}

.player {
	color: white;
	padding: 10px;
	margin-bottom: 5px;
	background-image: linear-gradient(#161616,#0a0a0a);
	border: 2px solid #555555;
	display: inline-block;
	position: relative;
	width: 49.9%;
	min-height: 300px;
}

#player-info {
	width: 100%;
}

#info {
	width: 49%;
	display: inline-block;
	min-height: 100px;
}

#averages {
	text-align: right;
	width: 49%;
	display: inline-block;
}

#averages span {
	color: white;
	background-image: linear-gradient(#161616,#0a0a0a);
	display: inline-block;
	text-align: center;
	border-radius: 10px;
	padding: 3px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 5px;
	text-align: center;
}


#rankings {
	display: flex;
	flex-wrap: wrap;
	max-width: 500px;
	min-height: 200px;
}

.parseBadge {
	height: 80px;
	width: 50%;
	position: relative;
	display: inline;
	background-image: linear-gradient(#161616,#0a0a0a);
	padding: 10px;
	border: 2px solid #555555;
}

.parseBadge .parse {
	font-size: 1em;
	font-weight: 800;
}

#encounter_boss {
	text-align: center;
}


#encounter_rankPercent {
	color: white;
	width: 100%;
	display: inline-block;
	text-align: center;
}

.pageIndicator {
	display: inline;
	margin-left: 5px;
	margin-right: 5px;
}

.pageButton {
	border: none;
	background: none;
	color: white;
	font-size: 1.5em;
}

.pageButton:hover {
	opacity: 0.9;
	transform: scale(0.96);
}
.pageButton:active {
	opacity: 0.8;
	transform: scale(0.95);
}





.Druid {
	background-color: var(--druid);
}
.Hunter {
	background-color: var(--hunter);
}
.Mage {
	background-color: var(--mage);
}
.Paladin {
	background-color: var(--paladin);

}
.Priest {
	background-color: var(--priest);
}

/*.Priest div#player-info div#averages span {
	color: black;
} */

.Rogue {
	background-color: var(--rogue);

}
.Shaman {
	background-color: var(--shaman);
}
.Warlock {
	background-color: var(--warlock);

}
.Warrior {
	background-color: var(--warrior);
}




/*
	League Teams Styling
*/


.team {
	position: relative;
	min-height: 100px;

	max-width: 550px;
	min-width: 300px;

	margin: 0 auto;
	margin-top: 20px;

	border: 2px solid #555555;
	background-image: linear-gradient(#161616,#0a0a0a);
}

.team_head {
	padding: 5px;
	margin: 0 auto;
	border-bottom: 2px solid #555555;
}

.team_misc {
	padding: 5px;
	border-bottom: 2px solid #555555;
}

.team_manager {
	padding: 1px;
	margin: 0 auto;
	display: inline-block;
	float: right;
	color: white;
}

.team_motto {
	display: inline-block;
	margin: 0 auto;
	font-style:italic;
}

.team_logo {
	margin-top: 3px;
	height: 30px;
	float: left;
}

.team_name {
	text-indent: 10px;
}

/*
	League Info Styling
*/

.league_status {
	margin: 0;
	font-weight: bold;
}

.league_status.setting-up {
	color: #40BC40;
}

.league_status.in-progress {
	color: #C41E3A;
}

.league_status.completed {
	color: #FF8000;
}


.draft {
	margin-top: 30px;
}

.picks {
	margin-top: 15px;
	margin-bottom: 15px;
	align-items: flex-start;
	flex-wrap: wrap;
	display: inline-flex;
	width: 100%;	
}

.pick {
	margin: 0 auto;
	position: relative;
	z-index: 2;
	width: 240px;
	height: 50px;
}

.pick_number {
	opacity: 0.5;
	display: inline-block;
	padding-right: 10px;
	float: left;
}


.league_body {
	padding: 10px;
	border: 2px solid #555555;
	background-image: linear-gradient(#161616,#0a0a0a);
}


.league_information p {
	padding: 0;
	margin: 0;
}

.flavor {
	color: #FFD100;
	padding-bottom: 0;
	margin-bottom: 0;
}

/*
	Minis
*/

.mini_team_name, .mini_team_manager, .mini_player, .mini_role {
	display: inline-block;
	text-align: left;
}

.mini_player {
	padding-left: 5px;
	padding-right: 5px;
	margin-left: 10px;
}

.team_mini_player {
	min-width: 30px;
	min-height: 40px;
}

.mini_guild {
	color: green;
	text-align: left;
	display: inline-block;
	width: 100%;
	font-size: 1em;
}

.mini_role, .mini_class {
	display: inline;
	float: left;
	height: 24px;
	width: 24px;
}

.role_select {
	font-family: 'Roboto Mono', monospace;
	border: none;
}

.current_pick {
	color: #C41E3A;
}

.team_players {
	padding: 10px;
	width: 100%;
	display: inline-flex;
	flex-wrap: wrap;
}

.team_mini_player {
	width: 33%;
	margin-bottom: 10px;
}

.pick_order {
	padding: 10px;
	display: inline-flex;
	flex-wrap: wrap;
}

.pick_order_item {
	padding-left: 20px;
	padding-right: 20px;
	position: relative;
	width: 150px;
	height: 50px;
	text-align: right;
	line-height: 50px;
}

.pick_order_item h4 {
	line-height: 1.5;
	display: inline-block;
	vertical-align: middle;
}
.pick_order_number {
	left: 0px;
	top: 0px;
	position: absolute;
	font-size: 3.2em;
	opacity: 0.3;
}

.draft_button {
	border: none;
	border-radius: 15px;
	color: black;
	font-size: 1em;
	cursor: pointer;
	padding-left: 15px;
	padding-right: 15px;
	padding: 5px;

	margin: 0 auto;
	margin-top: 10px;
}

.draft_button:hover {
	opacity: 0.8;
	transform: scale(0.99);
}

.past_order {
	opacity: 0.1;
}

.team_players {
	margin-bottom: 10px;
}


#leagues, #about, .teams_wrapper, .progress, .pick_order, .pick_history, .makeLeague, .makeTeam {
	border: 2px solid #555555;
	background-image: linear-gradient(#161616,#0a0a0a);
	padding: 10px;
}

#about {
	padding: 15px;
	margin-bottom: 30px;
}

.title-bar {
	margin-top: 30px;
	width: 100%;
	padding: 10px;
	border: 2px solid #555555;
	border-bottom: none;
	background-image: linear-gradient(#161616,#0a0a0a);
}

.league_wrapper, .create_team_box, .activity_header, #player-filtering, #player-display {
	padding: 10px;
	margin-top: 10px;
	border: 2px solid #555555;
	background-image: linear-gradient(#161616,#0a0a0a);
}

.create_team_box {
	margin-bottom: 50px;
}

.league_wrapper_mini {
	margin-bottom: 10px;
	border-bottom: 2px solid #555555;
}

.league_logo {
	clip-path: circle(60%);
	pointer-events: none;
	display: inline-block;
	height: 32px;
	width: 32px;
	margin-right: 4px;
}

.league_name{
	display: inline;
}

.league_links {
	list-style-type: none;
	padding: 0;
}

.startbutton {
	margin-bottom: 20px;
}

.unavailable {
	pointer-events: none;
	opacity: 0.5;
	color: gray;
}

.league_links a {
	padding-right: 10px;
}

.mini_league {
	max-width: 500px;
	margin-bottom: 20px;
	border: 2px solid #555555;
	background-image: linear-gradient(#161616,#0a0a0a);
	padding: 15px;
}

.league_description {

}

.requirements {
	list-style-type: none;
	padding: 0;
	font-weight: 800;
}

.youreup {
	color: #C41E3A;
	padding-left: 30px;
}

.reminder {
	color: #C41E3A;
}

.SKIP {
	color: #C41E3A;
}

.view_players {
	display: block;
}

.absent {
	opacity: 0.2;
}

.activity_header {
	text-align: center;
	margin-bottom: 30px;
}



input[type=text], input[type=number], select {
	width: 25%;
	min-width: 300px;
	padding: 5px 10px;
	margin: 8px 0;
	box-sizing: border-box;
}

input[type=color] {
	display: block;
}

button[type=submit] {
	width: 25%;
	min-width: 300px;
	padding: 5px 10px;
	margin: 8px 0;
	margin-top: 40px;
	box-sizing: border-box;
}

input, select {
	margin-bottom: 20px;
}

.disabled-input {
	opacity: 0.1;
	pointer-events: none;
	margin-bottom: 30px;
}

.disabled-note {
	margin-top: 20px;
	color: #C41E3A;
}

.preview_logo {
	height: 40px;
	width: 40px;
	position: relative;
	display: block;
	margin: 8px 0;
}
